h4 {
  margin-top: 20px;
  font-size: 12px;
  color: #8e8e8e;
}

a {
  color: #5b5b5b;
  font-size: 12px;
}

a:link {
  text-decoration: none;
  line-height: 30px;
}

a:hover {
  color: white;
}

li:hover {
  background: #0080ff;
  border-radius: 5px;
}

.form-inline {
  padding-top: 17px;
}

.profile {
  margin: 10px;
}

.btn {
  background: #f0f0f0;
  color: black;
  border: none;
}

.flex-column {
  float: left;
  width: 20%;
  background: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #d0d0d0;
}

.row {
  padding: 10px;
}

.title {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

.footer {
  position: fixed;
  padding: 20px 30px;
  bottom: 0;
  width: 100%;
  height: 15%;
  opacity: 0.9;
  background-color: #f5f5f5;
}

.round_button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 2px;
}

.range_big {
  width: 300px;
}

.range_small {
  width: 100px;
}

.range {
  padding-left: 40px;
}

#big {
  padding-bottom: 10%;
}

#pic {
  width: 50px;
  border-radius: 50%;
}
